[submodule "externals/TATS"]
	path = externals/TATS
	url = https://github.com/songweige/TATS.git
[submodule "externals/taming-transformers"]
	path = externals/taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
[submodule "externals/waymo-open-dataset"]
	path = externals/waymo-open-dataset
	url = https://github.com/waymo-research/waymo-open-dataset.git
